apiVersion: apps/v1
kind: Deployment
metadata:
  name: batch-predict
  namespace: pm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: batch-predict
  template:
    metadata:
      labels:
        app: batch-predict
    spec:
      containers:
      - name: batch-predict
        image: docker.io/kaykit/pm-batch-predict:v1
        imagePullPolicy: Always
        ports:
        - containerPort: 8002
        envFrom:
        - configMapRef:
            name: pm-config
        readinessProbe:
          httpGet:
            path: /health
            port: 8002
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /health
            port: 8002
          initialDelaySeconds: 15
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: batch-predict
  namespace: pm
spec:
  selector:
    app: batch-predict
  ports:
  - port: 8002
    targetPort: 8002
  type: ClusterIP